body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

.session, .previous-sessions, .set-goals {
   
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input[type="submit"] {
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
